body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: linear-gradient(to bottom right, #FFB6C1, #90EE90, #87CEFA, #FFD700);;
    color: linear-gradient(to bottom right, #FFB6C1, #90EE90, #87CEFA, #FFD700);;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #050505;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
